
[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=false
Exec=/usr/local/bin/rocrail
Icon=/usr/local/share/rocrail/rocraild.png
Name=Rocrail
Categories=Rocrail;
