
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/usr/local/bin/rocview.sh %f
Icon=rocrail
Name=Rocview
Categories=Rocrail;
MimeType=application/xml;

